
.calculator-title {
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.calculator {
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f4f5;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.display {
  margin-top:20px ;
  margin-bottom: 20px;
  background-color: #fff;
}

.display input {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  text-align: right;
  border-radius: 4px;
}

.display span {
  display: block;
  margin-top: 5px;
  font-size: 24px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border:none;
  border-radius: 4px;
  background-color: #ffffff;
  cursor: pointer;
}

button:hover {
  background-color: #c2c8c9;
}
